@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

$pri-cyan: hsl(180, 66%, 49%);
$pri-violet: hsl(257, 27%, 26%);
$sec-red: hsl(0, 87%, 67%);
$neu-gray: hsl(0, 0%, 75%);
$neu-grayish-violet: hsl(257, 7%, 63%);
$neu-dark-blue: hsl(255, 11%, 22%);
$neu-dark-violet: hsl(260, 8%, 14%);
$font-size: 18px;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
}
    
nav {
    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        .nav-toggle {
            font-size: 1.5rem;
            background-color: transparent;
            border: none;
            color: $neu-gray;
            &:hover {
                color: $neu-grayish-violet;
                // transform: rotate(45deg);
            }
        }
    }
}

nav {
    .nav-links {
        font-weight: bold;
        ul {
            list-style-type: none;
        }
        
        a {
            text-transform: capitalize;
            text-decoration: none;
            font-size: 1rem;
            display: block;
            padding: 0.5rem 1rem;
            color: $neu-grayish-violet;
            margin: 2.5px auto;
            &:hover {
                text-decoration: underline;
            }
        }
        button {
            border: none;
            padding: 10px 0px;
            font-size: $font-size;
            margin-left: 15px;
            font-weight: bold;
            background-color: transparent;
            &:hover {
                border-bottom: 2px solid $neu-gray;
            }
        }

        .signup {
            border-radius: 50px;
            padding: 10px 15px;
            background-color: $pri-cyan;
            color: white;
        }
    }
}

.nav-links {
    height: 0px;
    overflow: hidden;
}

// START OF HERO SECTION STYLING
.hero {
    display: flex;
    width: 95vw;
    margin: 10px auto;
    img {
        width: 95%;
        inline-size: auto;
    }
    div {
        width: 95%;
        margin: 15px auto;
        text-align: center;
        h2 {
            margin: 10px auto;
            font-size: 30px;
            letter-spacing: 2px;
        }
        button {
            color: white;
            background-color: $pri-cyan;
            border-radius: 50px;
            width: 50%;
            margin-top: 15px;
            padding: 15px;
            font-weight: 700;
            font-size: $font-size;
            border: none;
            outline: none;
        }
    }
}

// END OF HERO SECTION STYLING

@media screen and (max-width: 799px) {
    .nav-links {
        border-radius: 15px;
        // padding: 1rem;
        margin: 0px 1rem;
        background-color: $neu-dark-blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        color: white;
        ul {
            text-align: center;
            a {
                color: white;
            }
        }
        .nav-buttons {
            width: 90%;
            margin: 5px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &::before {
                content: '';
                border: 1px solid $neu-gray;
                width: 75%;
                margin: 0px auto 10px;
            }
            button {
                margin-bottom: 10px;
                margin-left: 0px;
                color: white;
            }
            .signup {
                width: 90%;
                margin: 0px auto 10px;
            }
        }
    }

    .hero {
        flex-direction: column;
    }
}

.show-links {
    height: 20rem;
}


@media screen and (min-width: 800px) {
    nav {
        width: 95vw;
        margin: 0px auto;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .nav-toggle {
        display: none;
    }

    .nav-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin-left: 25px;
        ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }
    }

    

    .nav-links a {
        padding: 0;
        margin: 0 0,5rem;
    }

    .nav-buttons {
        margin-left: auto;
    }

    .hero {
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-between;
        img {
            width: 50%;
        }
        div {
            width: 40%;
            min-height: 300px;
            text-align: left;
            margin: 25px 0px;
            padding: 1rem 1rem 1rem 2rem;
            display: flex;
            flex-direction: column;

            p {
                font-size: 14px;
                margin: 10px auto;
            }
            button {
                margin-top: auto;
            }
        }
    }
}