@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

nav .logo .nav-toggle {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: #bfbfbf;
}

nav .logo .nav-toggle:hover {
  color: #9e9aa7;
}

nav .nav-links {
  font-weight: bold;
}

nav .nav-links ul {
  list-style-type: none;
}

nav .nav-links a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  color: #9e9aa7;
  margin: 2.5px auto;
}

nav .nav-links a:hover {
  text-decoration: underline;
}

nav .nav-links button {
  border: none;
  padding: 10px 0px;
  font-size: 18px;
  margin-left: 15px;
  font-weight: bold;
  background-color: transparent;
}

nav .nav-links button:hover {
  border-bottom: 2px solid #bfbfbf;
}

nav .nav-links .signup {
  border-radius: 50px;
  padding: 10px 15px;
  background-color: #2acfcf;
  color: white;
}

.nav-links {
  height: 0px;
  overflow: hidden;
}

/* START OF HERO SECTION STYLING */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
  margin: 10px auto;
}

.hero img {
  width: 95%;
  inline-size: auto;
}

.hero div {
  width: 95%;
  margin: 15px auto;
  text-align: center;
}

.hero div h2 {
  margin: 10px auto;
  font-size: 30px;
  letter-spacing: 2px;
}

.hero div button {
  color: white;
  background-color: #2acfcf;
  border-radius: 50px;
  width: 50%;
  margin-top: 15px;
  padding: 15px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  outline: none;
}

/* END OF HERO SECTION STYLING */
/* START OF SHORTENER SECTION STYLING */
.shortener {
  width: 100vw;
  padding: 1rem;
  background-color: #9e9aa7;
  position: relative;
  margin-top: 100px;
}

.shortener .input {
  position: relative;
  top: -100px;
  margin: 1rem auto -50px;
  width: 100%;
  background-color: #3b3054;
  border-radius: 20px;
  padding: 1rem;
}

.shortener .input input {
  width: 100%;
  padding: 15px 10px;
  font-size: 18px;
  margin-bottom: 25px;
  background-color: #bfbfbf;
  outline: none;
  border: none;
}

.shortener .input button {
  width: 100%;
  color: white;
  background-color: #2acfcf;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  font-size: 18px;
}

.shortener {
  width: 100%;
}

.shortener .shortened {
  padding: 1rem 0px;
  background-color: white;
  margin-bottom: 15px;
}

.shortener .shortened h4 {
  font-size: 18px;
  font-weight: 500;
  color: #232127;
  padding-left: 1rem;
  padding-right: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.shortener .shortened hr {
  height: 2px;
  border: 1px solid #bfbfbf;
  margin: 10px 0px;
}

.shortener .shortened .shorten-link {
  color: #2acfcf;
}

.shortener .shortened button {
  color: white;
  background-color: #2acfcf;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  margin: 15px 1rem;
  font-size: 18px;
}

.shortener .stat {
  padding: 1rem 0px;
  text-align: center;
  width: 95%;
  margin: 0px auto;
}

.shortener .stat p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
}

.shortener .linked-option {
  margin-top: 60px;
}

.shortener .option {
  background-color: white;
  padding: 15px;
  margin-bottom: 75px;
  position: relative;
}

.shortener .option .option-img {
  width: 75px;
  height: 75px;
  margin: -53px auto 0px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #35323e;
}

.shortener .option .option-img img {
  width: 50px;
  height: 50px;
}

/* END OF SHORTENER SECTION STYLING */
/* START OF BOOST LINK SECTION STYLING */
.boost {
  background-image: url("images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #35323e;
  width: 100%;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 25px;
  padding: 25px;
  color: white;
}

.boost button {
  color: white;
  background-color: #2acfcf;
  border: none;
  border-radius: 50px;
  padding: 25px;
  margin: 15px 1rem;
  font-size: 18px;
  font-weight: 700;
}

/* END OF BOOST LINK SECTION STYLING */
/* START OF FOOTER SECTION STYLING */
footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 30px;
  background-color: #232127;
  fill: white;
  text-align: center;
}

footer div {
  margin-bottom: 25px;
  color: white;
}

footer div h3 {
  margin-bottom: 25px;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin-bottom: 15px;
}

footer ul li a {
  text-decoration: none;
  color: #bfbfbf;
}

footer ul li a:hover {
  color: #2acfcf;
}

footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* END OF FOOTER SECTION STYLING */
.attribution {
  font-size: 14px;
  text-align: center;
  background-color: #232127;
  padding-bottom: 25px;
  color: #bfbfbf;
}

.attribution a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 799px) {
  .nav-links {
    border-radius: 15px;
    margin: 0px 1rem;
    background-color: #35323e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    color: white;
  }
  .nav-links ul {
    text-align: center;
  }
  .nav-links ul a {
    color: white;
  }
  .nav-links .nav-buttons {
    width: 90%;
    margin: 5px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-links .nav-buttons::before {
    content: '';
    border: 1px solid #bfbfbf;
    width: 75%;
    margin: 0px auto 10px;
  }
  .nav-links .nav-buttons button {
    margin-bottom: 10px;
    margin-left: 0px;
    color: white;
  }
  .nav-links .nav-buttons .signup {
    width: 90%;
    margin: 0px auto 10px;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shortened button {
    width: 90%;
  }
  .option:nth-child(2):after {
    content: "";
    position: absolute;
    left: 50%;
    display: block;
    border-top: 50px solid #2acfcf;
    width: 5px;
  }
  .option:nth-child(1):after {
    content: "";
    position: absolute;
    left: 50%;
    display: block;
    border-top: 50px solid #2acfcf;
    width: 5px;
  }
  :after {
    top: 100%;
  }
  :before {
    bottom: 100%;
  }
  .boost {
    height: 400px;
  }
  .boost button {
    width: 50%;
  }
}

.show-links {
  height: 20rem;
}

@media screen and (min-width: 800px) {
  nav {
    width: 95vw;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  .nav-toggle {
    display: none;
  }
  .nav-links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    margin-left: 25px;
  }
  .nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
  }
  .nav-links a {
    padding: 0;
    margin: 0 0,5rem;
  }
  .nav-buttons {
    margin-left: auto;
  }
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero img {
    width: 50%;
  }
  .hero div {
    width: 40%;
    min-height: 300px;
    text-align: left;
    margin: 25px 0px;
    padding: 1rem 1rem 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero div p {
    font-size: 14px;
    margin: 10px auto;
  }
  .hero div button {
    margin-top: auto;
  }
  .shortener .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px;
    height: 150px;
    width: 95%;
    margin: 0px auto -55px;
  }
  .shortener .input input {
    width: 70%;
    margin: 0px;
  }
  .shortener .input button {
    width: 25%;
  }
  .shortener .shortened {
    width: 95%;
    margin: 0px auto 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.2rem;
  }
  .shortener .shortened .shorten-link {
    margin-left: auto;
  }
  .shortener .shortened button {
    padding: 15px 20px;
  }
  .boost {
    background-image: url("images/bg-boost-desktop.svg");
  }
  .boost button {
    padding: 25px 40px;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    padding: 5rem 8rem 0rem;
  }
  footer :first-child {
    width: 30%;
  }
  footer :first-child img {
    width: 50%;
  }
  footer .social-icons a {
    display: block;
    padding-top: 10px;
  }
  footer .social-icons a img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
  .option:nth-child(2):after {
    content: "";
    position: absolute;
    left: 50%;
    display: block;
    border-top: 50px solid #2acfcf;
    width: 5px;
  }
  .option:nth-child(1):after {
    content: "";
    position: absolute;
    left: 50%;
    display: block;
    border-top: 50px solid #2acfcf;
    width: 5px;
  }
  :after {
    top: 100%;
  }
  :before {
    bottom: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .stat .linked-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    margin-top: 70px;
  }
  .stat .linked-option .option {
    position: relative;
    margin-bottom: 0px;
    text-align: left;
    padding: 20px;
  }
  .stat .linked-option .option .option-img {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .shortener .stat .linked-option {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .option:nth-child(1) {
    z-index: 20;
  }
  .option:nth-child(2):before,
  .option:nth-child(2):after {
    content: '';
    width: 35px;
    border-bottom: 5px solid #2acfcf;
    position: absolute;
    top: 50%;
  }
  :after {
    left: 100%;
  }
  :before {
    right: 100%;
  }
  .option:nth-child(2) {
    margin-top: 40px;
  }
  .option:nth-child(3) {
    margin-top: 80px;
  }
}
/*# sourceMappingURL=style.css.map */