@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

$pri-cyan: hsl(180, 66%, 49%);
$pri-violet: hsl(257, 27%, 26%);
$sec-red: hsl(0, 87%, 67%);
$neu-gray: hsl(0, 0%, 75%);
$neu-grayish-violet: hsl(257, 7%, 63%);
$neu-dark-blue: hsl(255, 11%, 22%);
$neu-dark-violet: hsl(260, 8%, 14%);
$font-size: 18px;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
}

button, a {
    cursor: pointer;
}
    
nav {
    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        .nav-toggle {
            font-size: 1.5rem;
            background-color: transparent;
            border: none;
            color: $neu-gray;
            &:hover {
                color: $neu-grayish-violet;
            }
        }
    }
}

nav {
    .nav-links {
        font-weight: bold;
        ul {
            list-style-type: none;
        }
        
        a {
            text-transform: capitalize;
            text-decoration: none;
            font-size: 1rem;
            display: block;
            padding: 0.5rem 1rem;
            color: $neu-grayish-violet;
            margin: 2.5px auto;
            &:hover {
                text-decoration: underline;
            }
        }
        button {
            border: none;
            padding: 10px 0px;
            font-size: $font-size;
            margin-left: 15px;
            font-weight: bold;
            background-color: transparent;
            &:hover {
                border-bottom: 2px solid $neu-gray;
            }
        }

        .signup {
            border-radius: 50px;
            padding: 10px 15px;
            background-color: $pri-cyan;
            color: white;
        }
    }
}

.nav-links {
    height: 0px;
    overflow: hidden;
}

/* START OF HERO SECTION STYLING */
.hero {
    display: flex;
    width: 95vw;
    margin: 10px auto;
    img {
        width: 95%;
        inline-size: auto;
    }
    div {
        width: 95%;
        margin: 15px auto;
        text-align: center;
        h2 {
            margin: 10px auto;
            font-size: 30px;
            letter-spacing: 2px;
        }
        button {
            color: white;
            background-color: $pri-cyan;
            border-radius: 50px;
            width: 50%;
            margin-top: 15px;
            padding: 15px;
            font-weight: 700;
            font-size: $font-size;
            border: none;
            outline: none;
        }
    }
}

/* END OF HERO SECTION STYLING */

/* START OF SHORTENER SECTION STYLING */
.shortener {
    width: 100vw;
    padding: 1rem;
    background-color: $neu-grayish-violet;
    position: relative;
    margin-top: 100px;
    .input {
        position: relative;
        top: -100px;
        margin: 1rem auto -50px;
        width: 100%;
        background-color: $pri-violet;
        border-radius: 20px;
        padding: 1rem;
        input {
            width: 100%;
            padding: 15px 10px;
            font-size: $font-size;
            margin-bottom: 0px;
            background-color: $neu-gray;
            outline: none;
            // border: 1px solid transparent;
            border: none;
            border-radius: 10px;
        }
        span {
            color: red;
            display: none;
        }
        button {
            width: 100%;
            color: white;
            background-color: $pri-cyan;
            border: none;
            border-radius: 10px;
            padding: 15px 10px;
            margin-top: 20px;
            // font-size: 25px;
            font-size: $font-size;
        }
    }
}

.shortener .input .input-error {
    border: 2px solid red;
}

.shortener {
    width: 100%;
    .shortened {
        padding: 1rem 0px;
        background-color: white;
        margin-bottom: 15px;
        h4 {
            font-size: $font-size;
            font-weight: 500;
            color: $neu-dark-violet;
            padding-left: 1rem;
            padding-right: 1rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            
        }
        hr {
            height: 2px;
            border: 1px solid $neu-gray;
            margin: 10px 0px;
        }
        .shorten-link {
            color: $pri-cyan;
        }
        button {
            color: white;
            background-color: $pri-cyan;
            border: none;
            border-radius: 10px;
            padding: 15px 10px;
            margin: 15px 1rem;
            font-size: $font-size;
        }
    }
}

.shortener .shortened .shorten-link .shorten-link-a {
    color: $neu-dark-violet;
    text-decoration: none;
}

.shortener {
    .stat {
        padding: 1rem 0px;
        text-align: center;
        width: 95%;
        margin: 0px auto;
        p {
            font-size: $font-size;
            font-weight: 300;
            margin-bottom: 25px;
        }
    }
    .linked-option {
        margin-top: 60px;
    }
    .option {
        background-color: white;
        padding: 15px;
        margin-bottom: 75px;
        position: relative;
        .option-img {
            width: 75px;
            height: 75px;
            margin: -53px auto 0px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $neu-dark-blue;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

/* END OF SHORTENER SECTION STYLING */

/* START OF BOOST LINK SECTION STYLING */
.boost {
    background-image: url('images/bg-boost-mobile.svg');
    background-repeat: no-repeat;
    // background-position: center;
    background-size: cover;
    background-color: $neu-dark-blue;
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
    padding: 25px;
    color: white;
    button {
        color: white;
        background-color: $pri-cyan;
        border: none;
        border-radius: 50px;
        padding: 25px;
        margin: 15px 1rem;
        font-size: $font-size;
        font-weight: 700;
    }
}

/* END OF BOOST LINK SECTION STYLING */

/* START OF FOOTER SECTION STYLING */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    background-color: $neu-dark-violet;
    fill: white;
    text-align: center;
    div {
        margin-bottom: 25px;
        color: white;
        h3 {
            margin-bottom: 25px;
        }
    }
    ul {
        list-style-type: none;
        li {
            margin-bottom: 15px;
            a {
                text-decoration: none;
                color: $neu-gray;
                &:hover {
                    color: $pri-cyan;
                }
            }
        }
    }
    .social-icons {
        display: flex;
        column-gap: 25px;
        justify-content: center;
        align-items: center;
    }
}
/* END OF FOOTER SECTION STYLING */

.attribution { 
    font-size: 14px; 
    text-align: center; 
    background-color: $neu-dark-violet;
    padding-bottom: 25px;
    color: $neu-gray;
    a {
        color: white;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 799px) {
    .nav-links {
        border-radius: 15px;
        margin: 0px 1rem;
        background-color: $neu-dark-blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        color: white;
        ul {
            text-align: center;
            a {
                color: white;
            }
        }
        .nav-buttons {
            width: 90%;
            margin: 5px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &::before {
                content: '';
                border: 1px solid $neu-gray;
                width: 75%;
                margin: 0px auto 10px;
            }
            button {
                margin-bottom: 10px;
                margin-left: 0px;
                color: white;
            }
            .signup {
                width: 90%;
                margin: 0px auto 10px;
            }
        }
    }

    .hero {
        flex-direction: column;
    }

    .shortened button {
        width: 90%;
    }

    .option:nth-child(2):after
      {
        content: "";
        position: absolute;
        left: 50%;
        display: block;
        border-top: 50px solid $pri-cyan;
        width: 5px;
      }

      .option:nth-child(1):after {
        content: "";
        position: absolute;
        left: 50%;
        display: block;
        border-top: 50px solid $pri-cyan;
        width: 5px;
      }

      :after {
        top:100%;
      }
      :before {
        bottom:100%;
      }

    .boost {
        height: 400px;
        button {
            width: 50%;
        }
    }
}

.show-links {
    height: 20rem;
}


@media screen and (min-width: 800px) {
    nav {
        width: 95vw;
        margin: 0px auto;
        display: flex;
        align-items: center;
        padding: 1rem;
    }

    .nav-toggle {
        display: none;
    }

    .nav-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        margin-left: 25px;
        ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }
    }

    

    .nav-links a {
        padding: 0;
        margin: 0 0,5rem;
    }

    .nav-buttons {
        margin-left: auto;
    }

    .hero {
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-between;
        img {
            width: 50%;
        }
        div {
            width: 40%;
            min-height: 300px;
            text-align: left;
            margin: 25px 0px;
            padding: 1rem 1rem 1rem 2rem;
            display: flex;
            flex-direction: column;

            p {
                font-size: 14px;
                margin: 10px auto;
            }
            button {
                margin-top: 50px;
                min-width: 150px;
            }
        }
    }

    .shortener {
        .input {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            padding: 25px;
            height: 150px;
            width: 95%;
            margin: 0px auto -55px;
            input {
                width: 70%;
                margin: 0px;
            }
            span {
                order: 1;
                margin-right: auto;
                padding-left: 10px;
                // flex-basis: 100%;
                // height: 0;
                // width: 100%;
                
            }
            button {
                width: 25%;
                margin: 0;
            }
        }
    }

    .shortener {
        .shortened {
            width: 95%;
            margin: 0px auto 10px;
            display: flex;
            align-items: center;
            padding: 0.2rem;
            .shorten-link {
                margin-left: auto;
            }
            button {
                padding: 15px 20px;
                
            }
        }
        
    }    

    .boost {
        background-image: url('images/bg-boost-desktop.svg');
        button {
            padding: 25px 40px;
        }
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        column-gap: 30px;
        padding: 5rem 8rem 0rem;
        :first-child {
            width: 30%;
            img {
                width: 50%;
            }
        }
        .social-icons a {
            display: block;
            padding-top: 10px;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media screen and (min-width: 800px) and (max-width: 999px)   {
    .option:nth-child(2):after
    {
      content: "";
      position: absolute;
      left: 50%;
      display: block;
      border-top: 50px solid $pri-cyan;
      width: 5px;
    }

    .option:nth-child(1):after {
      content: "";
      position: absolute;
      left: 50%;
      display: block;
      border-top: 50px solid $pri-cyan;
      width: 5px;
    }

    :after {
      top:100%;
    }
    :before {
      bottom:100%;
    }
}

@media screen and (min-width: 1000px) {
    .stat {
        .linked-option {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-wrap: wrap;
            column-gap: 30px;
            margin-top: 70px;
            .option {
                position:relative;
                margin-bottom: 0px;
                text-align: left;
                padding: 20px;
                
                .option-img {
                    margin-left: 0px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .shortener .stat .linked-option {
        flex-wrap: nowrap;
    }
    .option:nth-child(1) {
        z-index: 20;
    }
    
    .option:nth-child(2):before,
    .option:nth-child(2):after
    {
      content:'';
      width: 35px;
      border-bottom: 5px solid $pri-cyan;
      position:absolute;
      top:50%;
    
    }
    :after {
      left:100%;
    }
    :before {
      right:100%;
    }
    

    .option:nth-child(2) {
       margin-top: 40px; 
    }

    .option:nth-child(3) {
      margin-top: 80px; 
   }
    
}